<div class="sticky top-0 border-bottom-1 border-gray-200 shadow-1 z-1">
  <div class="custom-container">
    <div class="p-toolbar-group-start pl-1 sm:hidden md:flex cursor-pointer logo" routerLink="/">
      <fa-icon [icon]="['fab', 'airbnb']" size="3x" class="text-primary"></fa-icon>
      <div class="font-bold text-primary pl-2 text-2xl logo-title">airbnb</div>
    </div>
    <div class="custom-toolbar" >
      <button class="custom-button-location p-button">
        {{location}}
      </button>
      <div class="separator"></div>
      <button class="custom-button-dates p-button">
        {{dates}}
      </button>
      <div class="separator"></div>
      <button class="p-button guest-btn custom-guest-button">
        <div>{{guests}}</div>
      </button>
      <button class="p-button search-icon custom-search-button">
        <fa-icon [icon]="'search'" class="text-sm"></fa-icon>
      </button>
    </div>
    <div class="toolbar-end">
      <a class="p-button button-link">Airbnb your home</a>

      <p-menu #menu [model]="" [popup]="true" styleClass="menu-popup"></p-menu>

      <button (click)="menu.toggle($event)" class="menu-button">
        <fa-icon [icon]="'bars'" class="icon-bars"></fa-icon>
        <app-avatar [imageUrl]="" avatarSize="avatar-sm"></app-avatar>
      </button>
    </div>
  </div>
  <app-category></app-category>
</div>
